@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/_all";

hr {
  height: 3px !important;
}
.ant-table-wrapper {
  overflow-x: scroll;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

@for $i from 1 through 10 {
  .h-#{$i}0px {
    height: #{$i * 10}px;
  }
}

@for $i from 1 through 10 {
  .w-#{$i}0px {
    width: #{$i * 10}px;
  }
}
@for $i from 1 through 10 {
  .w-#{$i}0rem {
    width: #{$i * 10}rem;
  }
}
@for $i from 1 through 4 {
  .w-#{$i * 25}vw {
    width: #{$i * 25}vw;
  }
}
@for $i from 1 through 4 {
  .h-#{$i * 25}vh {
    width: #{$i * 25}vh;
  }
}

.w-25percent {
  width: 25%;
}
.w-50percent {
  width: 50%;
}
.w-75percent {
  width: 75%;
}
.w-100percent {
  width: 100%;
}
.h-100percent {
  height: 100%;
}
#world-image {
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 1100px) {
  #home-page {
    .w-75vw {
      width: 95vw !important;
    }
  }
}
@media only screen and (max-width: 800px) {
  figure {
    display: none;
  }
  #nav-bar {
    .w-50rem {
      width: 60% !important;
    }
  }
}
@media only screen and (max-width: 600px) {
  #details-page.m-6 {
    margin: 0 !important;
    .is-size-1 {
      font-size: 2.5rem !important;
    }
  }
}
